
@{
    ViewData["Title"] = "StoringData";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>StoringData</h1>
<p>
 Data from View Bag:   @ViewBag.key1
</p>
<p>
    Data from View Data:   @ViewData["key2"]
</p>
<p>
    Data from tempdata:   @TempData["key3"]
</p>

