
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   
    @Html.Partial("HeaderPartialView")

    <div style="border-style:solid;margin:20px;padding:20px">
        @RenderBody()
    </div>

    @Html.Partial("FooterPartialView")

   

</body>
</html>
