
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table style="width:100%;background-color:gray;text-align:center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;border-style:solid;border-radius:20px">
    <tr>
        <th>copy rights 2024</th>
    </tr>
</table>